* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

.leftColumn li {
    list-style-type: none;
    padding: 5px 0;
    position:relative;
    display:block;
    height: 20px;
    vertical-align: middle;
    border: 1px solid black;
}

li a {
    display: block;
    height: 100%;


}

li ul a {
    display: inline;
}

li ul {
    display: none;
    position: absolute;
    text-wrap: none;
    width: 250px;
    left: 203px;
    top:-1px;
    z-index: 999;
   
    color: white;
    background-color:greenyellow ;

}


li:hover ul {
    display: block;
}


.menuCaption {
    margin-bottom: 5px;
}
.last p {
    font-weight: bold;
}

.centerColumn .last {
    float: right;
}

.centerColumn .last div {
    width: 100%;
}

.arrow {}

.pegenation a, .carent , span{
    margin: 0 5px;

}
li .carent {
    color:black;
    margin: 0;
    
}
.clear {
    clear: both;
}

div.pegenation {
    width: 300px;
    margin: 15px auto 5px;
    text-align: center;
}
#wrapper {
    width: 960px;
    padding: 20px;
    margin: 10px auto;
}

#header {
    width: 30%;
    margin: 0 auto 10px;
    text-align: center;
    border: 1px solid black;
}

.leftColumn {
    width: 205px;
    margin-right: 1%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.products div {
    float: left;
    width: 25%; text-align: center;
}
.centerColumn {
    width: 70%;
    float: right;
    border: 1px solid black;
    padding: 10px;
}

.centerColumn h2 {
    margin-bottom: 15px;
}

#footer {
    border: 1px solid black;
    margin-top: 10px;
    width: 100%;
    margin-right: 300px;

}


